.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: clamp(40px, 10vw, 80px);
  background: linear-gradient(180deg, #ee5253 0%, #d92223 100%);
  padding: 0 clamp(8px, 5vw, 27px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(18px, 5vw, 30px);
  line-height: 35px;
}

.socialIcons {
  display: flex;
  align-items: center;
}
.socialIcons svg {
  height: clamp(18px, 5vw, 30px);
  margin: 0 0 0 clamp(5px, 2vw, 90px);
}
